.body_container {   
  padding-top: 4%;
}

.login_botton button {
    width: 100%;
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    font-size: calc(.27548vw + 10.71074px);
}
.login_form {
    background: #fdfeff;
    transition: 0.6s ease;
    border-radius: 10px;
    padding: 1px 20px 20px 20px;
    border: #ddd solid 1px;
    padding: 20px;
    width: 40%;
    position: absolute;
    left: 25%;
    transform: translateY(25%);
    
}

.login_image {
    background-image: url('../../../Assets/images/connexion.jpg'); 
    min-height: calc(100vh - 65px);
    background-size: cover;      
    background-position: center center; 
    background-repeat: no-repeat;
}



.login_left {
    padding: 20px 20px 20px 20px;
    position: relative;
    top: 10%;
}
.facebook_login button {
    width: 100%;
    background-color: cornflowerblue !important;
}
.facebook_login {
    padding-bottom: 10px;
}

.forget_password a {
    font-size: 13px;
    padding-bottom: 10px;
    
}
.forget_password {
    padding-bottom: 10px;
    text-align: center;
}

.btn_create_account button, .btn_create_account button:hover {
    background-color: cornflowerblue !important;
    border: #ddd solid 1px;
    width: 100%;
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    font-size: calc(.27548vw + 10.71074px);
}

.kep-login-facebook {
    display: inline-block !important;
    font-weight: 0 !important;
    color: white !important;
    text-align: center !important;
    vertical-align: middle !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: .25rem !important;
    line-height: 1.1 !important;

    font-family: Helvetica,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: calc(.27548vw + 10.71074px) !important;
    text-decoration: none;
    text-transform: capitalize !important;
    transition: background-color .3s,border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    padding: calc(.34435vw + 13.38843px) calc(.34435vw + 18.38843px);
    
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.kep-login-facebook button {
    font-size: 12px;
}

.login_error {
    padding: 20px;
}

.error_message span {
    color: red ;
}

.or_facebook {
    text-align: center;
}


.floatleft {
    float:left; 
    width: 50%;
    height: calc(100vh - 65px);
}

.floatright {
    float: right;
    width: 50%;
    height: calc(100vh - 65px);
}

.login_container {
    min-height: calc(100vh - 64px);
}

