.commune-list li {
    list-style: none;
    background: #ddd;
    padding: 5px 0px 5px 10px;
    cursor: pointer;
}

.commune-list li:hover {
    background: paleturquoise;

}
.commune-list {
    position: relative;
    z-index: 200;
}

.social_media .profile_details .profile_img,
.profile_details_frame .profile_details .profile_img {
    height: 50px;
    width: 50px;
    flex: 0 0 50px;
}


.social_media,
.map_frame,
.profile_details_frame{
	flex: 1 0 30%;
	padding: 0 0px;	
}
.profile h4 span {
    border-radius: 5px;
    background-color: #F7EB2E ;
    padding: 0px 5px 0 5px;
    font-size: 16px;
}

.product_title{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;
}
.social_media_icons{
	text-align: center;
}
.social_media_icons ul li a{
	display: block;
	height: 32px;
	width: 32px;
	background: #2c3e50;
	color: #fff;
	border-radius: 50%;
	line-height: 32px;
	text-align: center;
	transition: all ease-in-out 0.2s;
}

.social_media_icons ul li a span{
	transition: all ease-in-out 0.3s;
	transform-origin: center;
	transform: rotate(0deg);	
	display: block;
}
.social_media_icons ul li a:hover{
	background: #bb225a;
}
.social_media_icons ul li a:hover span{
	transform: rotate(360deg);	
}


.image-gallery-image {
    vertical-align: middle;
    max-width: 100%;
    position: relative;
   
    height: 500px;
    background-color: rgba(42, 42, 42, 0.9);
    padding: 0;
    text-align: center;
    cursor: pointer;
}


.image-gallery-slide img {
    width: 100%;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    object-fit: contain;
}

.image-gallery-thumbnail-inner {
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    height: 62px;
    background: #f2f2f2;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.image-gallery-thumbnail img {
    width: 100%;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    background: #f2f2f2;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
    display: block;
    margin-right: 0;
    padding: 0;
    height: 70px;
    
}

 
.image-gallery-thumbnail.active {
    border: none !important;
    opacity: 0.4;
}

.image-gallery-thumbnail.active {
    border: none;
}

 .annonce-detail-title h4:first-letter {
    text-transform: capitalize;
}
.annonce-detail-title {
    padding: 10px 0px 30px 20px;
}
.annonce-price {
    color: #bb225a;
    padding: 10px 20px 0px 0px;
    float: right;
}
.annonce-date{
    color: #595957;
}
 .annonce-detail-price h3 {
    padding-top: 5px;
    float: right;
}

#contact_btn {
    background: #bb225a;
    color: #fff;
    border-radius: 30px;
    width: 100%;
}

#favorite_btn {
    color: #bb225a;
    border-radius: 30px;
    width: 100%;
    background: transparent;
    border: #bb225a solid 1px;
}

.favorite_detail {
    float: left;
    /* padding: 5px 0 0 20px; */
    margin-left: 15px;
}

.annonce-detail {
    padding-top: 87px;
}
.breadcrumb {
    background: transparent !important;
    padding: 0rem 0rem !important; 
}

.annonce-detail-description{
    padding-top: 40px;
     /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 3px rgba(0,0,0,0.2); */
    padding: 45px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

.annonce-detail-profile{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

.annonce-detail-image-preview{
    background: #fdfeff;
    box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
    padding-right: 0px !important; 
    padding-left: 0px !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    /* background-color: #f7f5ec; */
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .customSlider {
    opacity: 0;
    display: none;
}
.customSlider + label {
    position: relative;
    top: 35px;
    left: 15px;
    cursor: pointer;
}
.customSlider + label:before, .customSlider + label:after {
    background: #fff;
    position: absolute;
    content: '';
}
.customSlider + label:before {
    top: -90px;
    left: -60px;
    width: 80px;
    height: 40px;
    background: #ccc;
    border-radius: 20px;
}
.customSlider + label:after {
    height: 34px;
    width: 34px;
    top: -87px;
    left: -55px;
    border-radius: 50%;
    transition: all 0.5s;
}
.customSlider:checked + label:after {
    height: 34px;
    width: 34px;
    top: -87px;
    left: -19px;
    border-radius: 50%;
}
.customSlider:checked ~ .wrapper {
    color: #fff;
    transition: background 0.6s ease;
    background: #31394d;
}
.customSlider:checked ~ .wrapper .top-icons i {
    color: #fff;
}
.customSlider:checked ~ .wrapper .profile .name {
    color: #fdfeff;
}
.customSlider:checked ~ .wrapper .profile .title {
    color: #7c8097;
}
.customSlider:checked ~ .wrapper .profile .description {
    color: #fdfeff;
}
.customSlider:checked ~ .wrapper .icon h4 {
    color: #fff;
}
.customSlider:checked ~ .wrapper .icon p {
    color: #666b7d;
}
.wrapper {
    width: 100%;
    height: 100%;
    background: #fdfeff;
    transition:  0.6s ease;
    border-radius: 10px;
    padding: 1px 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
}
.wrapper .top-icons i {
    color: #080911;
}
.wrapper .top-icons i:nth-of-type(1) {
    float: left;
}
.wrapper .top-icons i:nth-of-type(2) {
    float: right;
}
.wrapper .top-icons i:nth-of-type(3) {
    float: right;
    padding-right: 0.8em;
}
.wrapper .profile {
    margin-top: 2.2em;
    position: relative;
}

.wrapper .profile .check {
    position: absolute;
    right: 5em;
    bottom: 12.7em;
}
.wrapper .profile .check i {
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
}
.wrapper .profile .thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
}
.wrapper .profile .name {
    color: #2d354a;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.wrapper .profile .title {
    color: #7c8097;
    font-size: 0.75em;
    font-weight: 300;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.wrapper .profile .description {
    color: #080911;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3em;
}
.wrapper .profile .btn {
    color: #fff;
    width: 130px;
    height: 42px;
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    /* box-shadow: 0 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16); */
}
.wrapper .social-icons {
    display: flex;
    margin-top: 1.2em;
    justify-content: space-between;
}
.wrapper .social-icons .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapper .social-icons .icon a {
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
}
.wrapper .social-icons .icon:nth-of-type(1) a {
    background: purple-gradient;
}
.wrapper .social-icons .icon:nth-of-type(2) a {
    background: blue1-gradient;
}
.wrapper .social-icons .icon:nth-of-type(3) a {
    background: blue2-gradient;
}
.wrapper .social-icons .icon h4 {
    color: #080911;
    font-size: 1em;
    margin-top: 1.3em;
    margin-bottom: 0.2em;
}
.wrapper .social-icons .icon p {
    color: #666b7d;
    font-size: 12px;
}
.concept {
    position: absolute;
    bottom: 25px;
    color: #aab0c4;
    font-size: 0.9em;
    font-weight: 400;
}
.concept a {
    color: rgba(172, 25, 102, 1);
    text-decoration: none;
}



.breadcrumb-item.active {
    color: #9C4170 !important;
}
.breadcrumb-item {
    color: #9C4170;
}
.add_annonce_title{
    padding-left: 18px;
    padding-top: 85px;
}  

.add_annonce_title p {
    font-size: 22px;
    color: rgba(0,0,0,0.5);
}
.form-group {
    margin-bottom: 1rem !important;
}
.add_annonce_block {
    padding: 20px 5px 20px 5px;
}

.card-header {
    background-color: #9C4170 !important;
    color: white;
}


.btn-secondary {
    /* background-color: #bb225a !important; */
}

.botton_block {
    padding-bottom: 60px;
}


.map-view img{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    background: #f2f2f2;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    object-fit: contain;
}
.map-view {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    height: 300px;
    background: #f2f2f2;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}


.title_block {
    padding-top: 35px;
}

.annonce_detail_favorite {
    float: right;
    padding: 15px;
}

.image-gallery-left-nav, .image-gallery-right-nav {
    font-size: 2em !important;
}

.react-datepicker__input-container input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}