.upload-image {
    width: auto;
    background: #f2f2f2;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    height: 170px;
    background: #f2f2f2;
    border: 1px dashed #ccc;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;

}

.image-preview  {
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    height: 170px;
    background: #f2f2f2;
    border: 1px dashed #ccc;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.image-preview img {
    position: relative;
    float: left;
    width:  100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border: thistle solid;
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    background: #f2f2f2;
    border: 1px dashed #ccc;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    object-fit: contain;
}


a.remImage span {
    box-shadow: none;
    position: absolute;
    right: 7px;
    top: 5px;
    margin-top: 4px;
    opacity: 0;
    display: block;
    transition: all .5s ease-in-out;
    color: red;
}
.image-preview:hover a.remImage span {
    opacity: 1;
    z-index: 99;
    position: absolute;
    top: 5px;
}
.image-preview:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    top: 0px;
    z-index: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.image-preview:hover:after{
    opacity: 1;
}

.image-title span {
    position: absolute;
}



ul { 
    list-style-type: none;
    width: 100%;
    
}
ul li { padding: 5px 10px; z-index: 2; }
ul li:not(.init) {  background: #ddd; }
ul li:not(.init):hover, ul li.selected:not(.init) { background: #09f; }
li.init { cursor: pointer; }