.no_result {
    background-image: url('../../Assets//images/pattern.png');
    min-height: 530px;
    width: 100%;
    height: auto;
    background-color: #2185C5;
    position: relative;
    
}

.content {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: sticky;
    top: 25%;
}