.bg_page_not_result_found {
    background-image: url('../../Assets/images/kid_crying.png');
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: calc(100vh - 65px);
    background-size: contain;      
    background-position: center center; 
   
}


.not_result_found_text_content {
    padding-top: 60%;
    text-align: center;
}

.not_result_found_text_content strong {
    font-size: 35px;
    color: #bb225a;
}

.page_not_found_countainer {
    
}