/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
   /*Head slider*/

#head-slider {
    height: 250px;
    width: 100%;
    background-color: blueviolet;
    margin-top: 57px;
}
#head-slider img {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    background: #f2f2f2;
    padding: 0;
    text-align: center;
    cursor: pointer;
    object-fit: cover;
}

#head-slider-title{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 13%;
    text-align: center;
    line-height: 2;
   
}
#head-slider-title strong, #head-slider-title p {
    color: white;
    font-size: 18px;
}

#head-slider-title p span {
    background-color: #bb225a;
    padding: 2px 14px 2px 14px;
    border-radius: 25px;
}
  
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    #head-slider {
        height: 250px;
        width: 100%;
        background-color: blueviolet;
        margin-top: 57px;
    }
    #head-slider img {
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: middle;
        max-width: 100%;
        position: relative;
        float: left;
        background: #f2f2f2;
        padding: 0;
        text-align: center;
        cursor: pointer;
        object-fit: cover;
    }
    
    #head-slider-title{
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 10px;
        position: absolute;
        top: 13%;
        text-align: center;
        line-height: 2;
       
    }
    #head-slider-title strong, #head-slider-title p {
        color: white;
        font-size: 18px;
    }
    
    #head-slider-title p span {
        background-color: #bb225a;
        padding: 2px 14px 2px 14px;
        border-radius: 25px;
    }
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    #head-slider {
        height: 250px;
        width: 100%;
        background-color: blueviolet;
        margin-top: 60px;
    }
    #head-slider img {
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: middle;
        max-width: 100%;
        position: relative;
        float: left;
        background: #f2f2f2;
        padding: 0;
        text-align: center;
        cursor: pointer;
        object-fit: cover;
    }
    
    #head-slider-title{
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 10px;
        position: absolute;
        top: 13%;
        text-align: center;
        line-height: 2;
       
    }
    #head-slider-title strong, #head-slider-title p {
        color: white;
        font-size: 18px;
    }
    
    #head-slider-title p span {
        background-color: #bb225a;
        padding: 2px 14px 2px 14px;
        border-radius: 25px;
    }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    #head-slider {
        display: none;
    }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #head-slider {
        display: none;
    }
  
  
}