/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .search-container {
    background-color: #efefef;
    transition: 0.6s ease;
    padding: 20px 20px 20px 20px;

}

.filter-row {
  padding: 5px 25px 5px 25px;
}

.filter-row input {
  border-radius: 4px;
  color: #bb225a;
}

.form-control {
  border-radius: 4px !important;
}

.search-btn button {
  border-radius: 3px;
  width: 100%;
  background-color: #bb225a;
}
.search-btn button:hover {
  background-color: #bb225a;
  border-radius: 3px;
}


*:focus {
  outline-color: #bb225a !important;
}
    
    
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .search-container {
    background-color: #efefef;
    transition: 0.6s ease;
    padding: 20px 20px 20px 20px;

}

.filter-row {
  padding: 5px 25px 5px 25px;
}

.filter-row input {
  border-radius: 4px;
  color: #bb225a;
}

.form-control {
  border-radius: 4px !important;
}

.search-btn button {
  border-radius: 3px;
  width: 100%;
  background-color: #bb225a;
}
.search-btn button:hover {
  background-color: #bb225a;
  border-radius: 3px;
}


*:focus {
  outline-color: #bb225a !important;
}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .search-container {
    background-color: #efefef;
    transition: 0.6s ease;
    padding: 20px 20px 20px 20px;

}

.filter-row {
  padding: 5px 25px 5px 25px;
}

.filter-row input {
  border-radius: 4px;
  color: #bb225a;
}

.form-control {
  border-radius: 4px !important;
}

.search-btn button {
  border-radius: 3px;
  width: 100%;
  background-color: #bb225a;
}
.search-btn button:hover {
  background-color: #bb225a;
  border-radius: 3px;
}


*:focus {
  outline-color: #bb225a !important;
}
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .search-container {
    display: none;
  }
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .search-container {
    display: none;
  }
  
  
}