.search-container {
    background-color: #efefef;
    transition: 0.6s ease;
    padding: 20px 20px 20px 20px;

}

.filter-row {
  padding: 5px 25px 5px 25px;
}

.filter-row input {
  border-radius: 4px;
  color: #bb225a;
}

.form-control {
  border-radius: 4px !important;
}

.search-btn button {
  border-radius: 3px;
  width: 100%;
  background-color: #bb225a;
}
.search-btn button:hover {
  background-color: #bb225a;
  border-radius: 3px;
}


*:focus {
  outline-color: #bb225a !important;
}