.store-slide {
    background-image: url('../../Assets/images/store_cover.jpg');
    height: 400px;
    width: 100%;
}

.profile_avatar {
    width: 130px;
    background-color: #ddd;
    display: inline-flex;
    vertical-align: middle;
    position: absolute;
    bottom: 6%;
    left: 17%;
    padding: 0;
    text-align: center;
    cursor: pointer;

}
.profile_avatar h4 {
    padding: 25% 0 0 10%;
    color: #bb225a;
}
.profile_avatar img {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    max-width: 100%;
    position: relative;
    float: left;
    padding: 0;
    text-align: center;
    cursor: pointer;
    object-fit: contain;
}
.store-slide-profile {
    display: table-cell;
    vertical-align: middle;
}